<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <!-- Meta -->
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        <!-- CSS & fonts -->
        <link rel="stylesheet" href="{{ base_url() }}/css/main.css">
        <link rel="stylesheet" href="{{ base_url() }}/css/google-fonts.css">
        <link rel="stylesheet" href="{{ base_url() }}/css/font-awesome.css">
        <link rel="stylesheet" href="{{ base_url() }}/css/jquery.modal.min.css">

        <!-- jQuery -->
        <script src="{{ base_url() }}/js/jquery-1.10.2.min.js"></script>
        <script src="{{ base_url() }}/js/jquery.modal.min.js"></script>

    </head>
    <body>

    <div id="wrap">

        <!-- Navigation -->
        <nav id="nav-left">
            <div id="nav-list">
                <a href="{{ base_url() }}{{ path_for('/') }}">{{ getenv('site_navbar_home_displayname') }}</a>

                <!-- current user -->
                {% if currentUser is not empty %}
                    <a href="{{ base_url() }}{{ path_for('password') }}">{{ getenv('site_navbar_password_displayname') }}</a>
                    <a href="{{ base_url() }}{{ path_for('delete') }}">{{ getenv('site_navbar_delete_displayname') }}</a>
                {% else %}
                    <a href="{{ base_url() }}{{ path_for('signup') }}">{{ getenv('site_navbar_signup_displayname') }}</a>
                    <a href="{{ base_url() }}{{ path_for('login') }}">{{ getenv('site_navbar_login_displayname') }}</a>
                {% endif %}

                {% if getenv('site_navbar_backlink_enabled') == 'true' %}
                    <br />
                    <br />
                    <a href="{{ getenv('site_navbar_backlink_uri') }}">{{ getenv('site_navbar_backlink_displayname') }}</a>
                {% endif %}

            </div>

            <!-- Nav footer -->
            <!-- current user show -->
            {% if currentUser is not empty %}
            <footer>
                {% trans with {'%username%': currentUser.identity, '%server%': getenv('site_xmpp_server_displayname') } %}logged.in.site{% endtrans %}
                <a href="{{ base_url() }}{{ path_for('logout') }}">{{ getenv('site_navbar_logout_displayname') }}</a>
            </footer>
            {% endif %}


        </nav>


        <!-- Icon menu -->
        <a id="nav-menu-left">
            <div id="menu"></div>
        </a>

        <!-- Header -->
        <header id="header">

            <a href="/">
                <h1>{{ getenv('site_title') }}</h1>
            </a>

        </header>

        <!-- Main content -->
        <div id="container">

            <main>
                <!-- flash messages -->
                {% if flash is not empty %}
                    <div id="flashMessage">
                        {% if flash.getMessage('info').0 %}
                            <div class="alert alert-info">
                                {{ flash.getMessage('info').0 }}
                            </div>
                        {% endif %}

                        {% if flash.getMessage('success').0 %}
                            <div class="alert alert-success">
                                {{ flash.getMessage('success').0 }}
                            </div>
                        {% endif %}

                        {% if flash.getMessage('error') %}
                            {% for error in flash.getMessage('error') %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}

                <!-- content -->
                {% block content %}
                {% endblock %}

            </main>
        </div>

        <!-- Footer -->
        <!--<footer><span></span></footer>-->

        <!-- Script -->
        <script src="{{ base_url() }}/js/main.js"></script>

        <script>
            $(".alert-danger" ).delay(30000).fadeOut(300);
            $(".alert-success" ).delay(10000).fadeOut(300);
            $(".alert-info" ).delay(10000).fadeOut(300);
        </script>

    </div>

    </body>
</html>